:root {
  --svetlija-lila: #E6E0F8;
  --pastel-roze: #F9DDE1;
  --zivlja-zelena: #adad33;
  --jaca-plava: #06c988;
  --tamniji-lila: #d8c9f4;
  --text-color: #3B3B3B;
}

body {
  background-image: url("./assets/iteh\ beuty\ logo.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 10%;
  background-color: #e0c1ff; /* svetla lila */
}

.container {
  background-color: var(--pastel-roze);
  padding: 24px;
  border-radius: 14px;
  max-width: 700px;
  margin: 50px auto;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

h1 {
  color: var(--zivlja-zelena);
  text-align: center;
  font-weight: 700;
}

button {
  background-color: var(--jaca-plava);
  border: none;
  color: white;
  padding: 14px 30px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

button:hover {
  background-color: #155dbe; /* tamnija plava za hover */
}
