:root {
  --svetlija-lila: #E6E0F8;
  --pastel-roze: #F9DDE1;
  --zivlja-zelena: #adad33;
  --jaca-plava: #06c988;
  --tamniji-lila: #d8c9f4;
  --text-color: #3B3B3B;
}

body {
  background-image: url("./assets/logo.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 10%;
  background-color: #e0c1ff; /* svetla lila */
}

.container {
  background-color: var(--pastel-roze);
  padding: 24px;
  border-radius: 14px;
  max-width: 700px;
  margin: 50px auto;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;

}

h1 {
  color: var(--zivlja-zelena);
  text-align: center;
  font-weight: 700;
}
h2 {
  color: var(--zivlja-zelena);
  text-align: center;
  font-weight: 500;
}

button {
  background-color: var(--jaca-plava);
  border: none;
  color: white;
  padding: 14px 30px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

button:hover {
  background-color: #155dbe; /* tamnija plava za hover */
}

.home-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;
  gap: 40px;

}

.home-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.home-text {
  flex: 1;
}



.home-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.home-text h1 {
  font-size: 2.2rem;
  color: #7b4bb7;
  margin-bottom: 16px;
}

.home-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 14px;
}

.home-text .cta {
  font-weight: bold;
  font-style: italic;
  color: #db7093;
  font-size: 1.3rem;
  margin-top: 20px;
}
