.galerija-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.galerija-slika {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.galerija-btn {
  background-color: #f8d7da;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.galerija-btn:hover {
  background-color: #e2aeb2;
}
